.navbar-brand {
    font-size: xx-large;
}

.navbar-brand.active {
    font-weight: bold
}

.NavBar {
    font-size: x-large;
}

.nav-link {
    margin-right: 5px;
}

.nav-link.active {
    font-weight: bold;
}